<html>

<head>
  <title>
  </title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/toastr.js/latest/toastr.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet">
  <style>
    body {
      padding-top: 90px;
    }

    .panel-login {
      border-color: #ccc;
      -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .panel-login>.panel-heading {
      color: #00415d;
      background-color: #fff;
      border-color: #fff;
      text-align: center;
    }

    .panel-login>.panel-heading a {
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 15px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }

    .panel-login>.panel-heading a.active {
      color: #029f5b;
      font-size: 18px;
    }

    .panel-login>.panel-heading hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
      background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
      background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    }

    .panel-login input[type="text"],
    .panel-login input[type="email"],
    .panel-login input[type="password"] {
      height: 45px;
      border: 1px solid #ddd;
      font-size: 16px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }

    .panel-login input:hover,
    .panel-login input:focus {
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-color: #ccc;
    }

    .btn-login {
      background-color: #59B2E0;
      outline: none;
      color: #fff;
      font-size: 14px;
      height: auto;
      font-weight: normal;
      padding: 14px 0;
      text-transform: uppercase;
      border-color: #59B2E6;
    }

    .btn-login:hover,
    .btn-login:focus {
      color: #fff;
      background-color: #53A3CD;
      border-color: #53A3CD;
    }

    .forgot-password {
      text-decoration: underline;
      color: #888;
    }

    .forgot-password:hover,
    .forgot-password:focus {
      text-decoration: underline;
      color: #666;
    }

    .btn-register {
      background-color: #1CB94E;
      outline: none;
      color: #fff;
      font-size: 14px;
      height: auto;
      font-weight: normal;
      padding: 14px 0;
      text-transform: uppercase;
      border-color: #1CB94A;
    }

    .btn-register:hover,
    .btn-register:focus {
      color: #fff;
      background-color: #1CA347;
      border-color: #1CA347;
    }
  </style>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-growl/1.0.6/bootstrap-growl.min.js"></script>
  <script type="text/javascript" src="http://malsup.github.io/jquery.form.js"></script>
  <script src="https://cdn.bootcss.com/toastr.js/latest/toastr.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
  <script type="text/javascript">
    $(function () {

      $('#login-form-link').click(function (e) {
        $("#login-form").delay(100).fadeIn(100);
        $("#register-form").fadeOut(100);
        $('#register-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
      });
      $('#register-form-link').click(function (e) {
        $("#register-form").delay(100).fadeIn(100);
        $("#login-form").fadeOut(100);
        $('#login-form-link').removeClass('active');
        $(this).addClass('active');
        e.preventDefault();
      });
    });
  </script>
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-12">
                  <a href="#" class="active" id="register-form-link">找回密码</a>
                </div>
              </div>
              <hr>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <form id="register-form" action="/users/findPassword" method="post" role="form">
                    <div class="form-group">
                      <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="邮箱" value="">
                    </div>
                    <div class="form-group">
                      <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="密码">
                    </div>
                    <div class="form-group">
                      <input type="password" name="repassword" id="confirm-password" tabindex="2" class="form-control" placeholder="重复密码">
                    </div>
                    <div class="form-group">
                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                          <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="提交">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script type="text/javascript">
    toastr.options.positionClass = 'toast-top-right';
    // toastr.options.timeOut = 30000000;
    // toastr.options.extendedTimeOut = 60000000;
    // 使通知框延时自动从页面删除
    $(document).ready(function () {
      $('#department_select').multiselect({ buttonWidth: '100%' });
      // 延时清除掉成功、失败提示信息
      if ($('.alert.alert-success').length > 0) {
        $('.alert.alert-success').fadeOut(2000)
      } else if ($('.alert.alert-danger').length > 0) {
        $('.alert.alert-danger').fadeOut(2000)
      }
    })
  </script>
  <script type="text/javascript">
    // 使通知框延时自动从页面删除
    $(document).ready(function () {
      toastr.options.positionClass = 'toast-top-right';
      // 延时清除掉成功、失败提示信息
      if ($('.toast.toast-success').length > 0) {
        setTimeout("$('.toast.toast-success').fadeOut(1000)", 5000)

      } else if ($('.toast.toast-warning').length > 0) {
        setTimeout("$('.toast.toast-warning').fadeOut(1000)", 5000)
      }

    })
  </script>
</body>

</html>